body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    font-family: 'Heebo', Courier, monospace;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* FONTS HEADINGS */
.title {
    font-size: 24pt;
}

/* MAIN PAGE LAYOUT */
.page {
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    background: white;
}
